@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
      background-color: rgb(239 239 239);
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.0');
      box-shadow: theme('boxShadow.xl');
    }
    .textincard {
        margin-top: -320px;
        position: absolute;
        display: flex-colum;
        height: 321px;

    }
    .lazmall {
      width: 1050px;
    }
    /* ... */
  }